* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(0, 51, 51);  /*background: rgba(156, 256, 256, .1);*/
    color: white;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: currentColor;
}
.centered {
    display: flex;
    justify-content: center;
}
.home-svg {
    fill: rgb(156, 256, 256);
    width: 60%;
    position: absolute;
    bottom: 300px;
}
.home-div {
    position: absolute;
    bottom: 1px;
    margin: 10px;
    padding: 10px;
    line-height: 1.6em;
}
.home-div h2 {
    text-decoration: underline rgba(156, 256, 256, .9);
}
.home-div p {
    font-weight: 200;
}
.home-div h2, .home-div p {
    margin-block: 5px;
}
.home-div button {
    width: 100%;
    background: rgb(156, 256, 256);
    font-weight: 700;
    color: black;
    border: none;
    margin-block: 10px;
    padding: 10px 5px;
    border-radius: 15px;
}
.home-div button:hover {
    background: rgb(140, 256, 256);
    cursor: pointer;
    transition: ease-in-out, all, .9s;
}
/* Location html */
.location {
    text-align: center;
    margin: 10px;
}
.location input {
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    padding: 4px 10px;
    margin: 10px 5px;
    width: 95%;
    border-radius: 7px;
    background: rgb(0, 101, 101);
    color: white;
    border: none;
}
.location input::placeholder {
    color: white;
    font-weight: 100;
}
.location input:focus {
    outline: none;
}
.city {
    background: rgb(0, 71, 71);
    margin: 10px 15px;
    padding: 10px 7px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-size: .9rem;
}
.city div{
    margin-left: auto;
}
.city span {
    background: rgb(0, 101, 101);
    padding: 5px;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
}
.temp-svg {
    fill: lightyellow;
    width: 15px;
    margin: 3px;
    position: absolute;
    right: 60px;
}
.blue {
    fill: lightblue;
}
.category-btn {
    width: 80%;
    background: rgb(156, 256, 256);
    font-weight: 700;
    color: black;
    border: none;
    margin-block: 10px;
    padding: 8px 5px;
    border-radius: 15px;
}
.category-btn:hover {
    cursor: pointer;
}